
.productsContainer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 12px;
    margin-bottom: 2em;
    padding: 26px;
    width: fit-content;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.totalItems{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

hr{
    width: 100%;
}

.totalPrice{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

h4 {
    margin: 9px;
}

