.product {
    display: flex;
    align-items: center;
}

.product:not(:last-of-type){
    margin-bottom: 3em;
}

.prices{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.prices h6{
    display: flex;
    margin: 0;
    text-decoration: line-through;
}

.product h2{
    margin: 0;
    display: flex;
    font-size: clamp(12px, 2vw,16px);
    justify-content: space-evenly;
}

.product h3{
    display: flex;
    font-size: clamp(14px, 2vw,16px);
    color: #F2994A;
}

.leftCol{
    width: 50%;
    display: flex;
    justify-content: center;
}

.rightCol{
    width: 50%;
    flex-direction: column;
    margin-left: 18px;
}

.prodButton{
    display: flex;
}


img{
    width: 100%;
    max-width: 176px;
    height: 124px;
    border-radius: 12px;
    object-fit: cover;
}


